<!doctype html>
<html lang="en" class="min-h-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    {{ if .MetaDescription }}
    <meta name="description" content="{{ .MetaDescription }}" />
    {{ end }} {{ if .Robots }}
    <meta name="robots" content="{{ .Robots }}" />
    {{ end }}
    {{ if .CanonicalURL }}
    <link rel="canonical" href="{{ .CanonicalURL }}" />
    {{ end }}

    <meta property="og:title" content="{{ .Title }}" />
    {{ if .MetaDescription }}
    <meta property="og:description" content="{{ .MetaDescription }}" />
    {{ end }}
    {{ if .OGImageURL }}
    <meta property="og:image" content="{{ .OGImageURL }}" />
    {{ end }}
    {{ if .CanonicalURL }}
    <meta property="og:url" content="{{ .CanonicalURL }}" />
    {{ end }}

    <meta name="theme-color" content="#000000" />
    <link rel="icon" type="image/svg+xml" href="{{ .FaviconURL }}" />

    <link href="/static/style.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="{{ .IconsHref }}"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <noscript>
      <link rel="stylesheet" href="{{ .IconsHref }}" />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
      />
    </noscript>

    <script defer src="/static/htmx.min.js"></script>
    <script defer src="/static/alpine.min.js"></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/sw.js").catch(function (error) {
          console.error("Service Worker registration failed:", error);
        });
      }
    </script>
    <link rel="manifest" href="/static/manifest.json" fetchpriority="low" />
  </head>
  {{ .Body }}
</html>
