<dialog
  closedby="any"
  aria-modal="true"
  aria-label="{{ .Label }}"
  id="{{ .Id }}"
  class="fixed bottom-0 top-auto w-full max-w-full max-h-[75vh] p-0 border-none rounded-t-xl overflow-hidden translate-y-full open:translate-y-0 transition-[translate] duration-300 ease-in-out bg-surface-bright backdrop:bg-scrim/50"
>
  <header class="p-4 pb-0 flex justify-end">
    <button
      class="flex items-center gap-2 btn btn-icon bg-container"
      aria-label="Close bottom sheet"
      command="close"
      commandfor="{{ .Id }}"
    >
      <span aria-hidden="true" class="icon">close</span>
    </button>
  </header>
  <div class="flex flex-col max-h-[75vh] overflow-y-auto">{{ .Content }}</div>
</dialog>
